<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
  </head>
<body>
  <h1>Login to mark your attendance!</h1>
  <br>
  <br>
<div class="full-height">
  <div class="form-block-3 w-form">
  
  <form (ngSubmit)="submit()">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
           
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"
       id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" name="email" [(ngModel)]="login.email">
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" name="password" [(ngModel)]="login.password">
    </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>

  
        </div>
        <span class="text-danger" *ngIf="status!=1">{{message}}</span>
        <div class="col-md-3">
        </div>
    </div>

</form>
  </div>
</div>
</body>
</html>